main {
    background-color: black;
    h1 {
        color:$violeta-rosa;
    }
    div {
        color: $violeta-pastel;

        a {
            color: white;
            background-color: cadetblue;
            padding: 10px;
            font-size: 35px;
            &:hover {
                background-color: crimson;
            }
        }
    }
}